
body{


}


.container {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/emilia-about.jpg");
    background-repeat: no-repeat;
    background-position:right center;
    background-size: 77%;

  }

.Menu {
  height:50px;

}
ul {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.5;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
.iconos {
    float: right;
    padding: 8px;
}

.TituloIndex {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 25px;
    display: block;
    margin: 125px 0px 68px 47px;
 }

 .BloqueAbajo {
    color: #46C8B1;
    font-family: 'Open Sans', sans-serif;
    margin-left: 69px;

 }
 .BloqueAbajoGrande {
    font-size: 23px;
    margin-top: 99px;
 
   }

